@charset "UTF-8";

.navbar{
	background-color: #8aa626 !important;
	padding: 0rem !important;
}

main{
	min-height: 85vh;
}

.card{
/* 	display : inline-block !important; */
	margin : 0px 25px !important;
}

.btn-success{
	background-color: #8aa626 !important;
}

.logo:hover{
	transform: scale(1.02) !important;
}

.unclickable{
	pointer-events:none !important;
}

input,textarea{
	background-color: #f2f2f2 !important;
}