<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <error-page>
    <error-code>500</error-code>
    <location>/assets/errors/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/assets/errors/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>DetailAuctionServlet</display-name>
    <servlet-name>DetailAuctionServlet</servlet-name>
    <servlet-class>org.eni.encheres.ihm.auction.DetailAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailAuctionServlet</servlet-name>
    <url-pattern>/DetailAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateItemServlet</display-name>
    <servlet-name>UpdateItemServlet</servlet-name>
    <servlet-class>org.eni.encheres.ihm.auction.UpdateItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateItemServlet</servlet-name>
    <url-pattern>/UpdateItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItemServlet</display-name>
    <servlet-name>DeleteItemServlet</servlet-name>
    <servlet-class>org.eni.encheres.ihm.auction.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItemServlet</servlet-name>
    <url-pattern>/DeleteItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArchiveItemServlet</display-name>
    <servlet-name>ArchiveItemServlet</servlet-name>
    <servlet-class>org.eni.encheres.ihm.ArchiveItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchiveItemServlet</servlet-name>
    <url-pattern>/ArchiveItemServlet</url-pattern>
  </servlet-mapping>
</web-app>